@model PizzaButiken.Models.Dish
@inject PizzaButiken.Services.DishCategoryService DishCategoryService

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@{ 
    var dishCategory = DishCategoryService.GetDishCategory(Model.DishCategoryId);
}

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DishCategory)
        </dt>
        <dd>
            @dishCategory.Name
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DishIngredients)
        </dt>

        @foreach (var di in Model.DishIngredients.OrderBy(di => di.Ingredient.Name))
            {
            <dd>
                @di.Ingredient.Name
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
