@model PizzaButiken.Models.ShippingAddress


<h2>Shipping Address</h2>
<address>
    <b>@Model.CustomerName</b><br />
    @Model.Street<br>
    @Model.PostalCode @Model.City<br>
    @Model.PhoneNumber<br>
    @Model.Email
</address>

