@inject PizzaButiken.Services.CartService CartService

@{
    ViewData["Title"] = "Order Details";
}

@{
    var cart = CartService.GetCartForCurrentSession(Context.Session);
    var itemsCount = CartService.GetNumberOfItemsInCart(cart.CartId);
}

@if (itemsCount == 0)
{
    <h2>Your shopping cart is empty</h2>
}
else
{
    <h2>Order Details</h2>

    <div class="col-md-11">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-2">Name</th>
                    <th class="col-md-4">Ingredients</th>
                    <th class="col-md-1">Price</th>
                    <th class="col-md-1">Quantity</th>
                    <th class="col-md-1">Total</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in cart.Items)
            {
                <tr>
                    <td class="col-md-2">@item.Name</td>
                    <td class="col-md-4">@CartService.GetCartItemIngredients(item.CartItemId)</td>
                    <td class="col-md-1">@item.Price</td>
                    <td class="col-md-1">@item.Quantity  
                        <a asp-controller="Home" asp-action="IncreaseCartItemQuantity" asp-route-cartItemId="@item.CartItemId" asp-route-returnurl="/Order/OrderDetails">
                        <span class="glyphicon glyphicon-plus-sign" style="margin-left:10px;"></span></a>
                        <a asp-controller="Home" asp-action="DecreaseCartItemQuantity" asp-route-cartItemId="@item.CartItemId" asp-route-returnurl="/Order/OrderDetails">
                        <span class="glyphicon glyphicon-minus-sign"></span></a>
                    </td>
                    <td class="col-md-1">
                        @{
                            var sum = item.Price * item.Quantity;
                        }
                        @sum SEK
                    </td>
                    <td class="col-md-1"><a asp-controller="Home" asp-action="CustomizeCartItem" asp-route-id="@item.CartItemId" title="Customize" asp-route-returnurl="/Order/OrderDetails">
                    <span class="glyphicon glyphicon-adjust"></span></a>
                    <a asp-action="RemoveCartItem" asp-route-cartItemId="@item.CartItemId">
                    <span class="glyphicon glyphicon-remove" title="Remove" style="margin-left:10px;"></span></a>
                    </td>
                </tr>
                            }
            <tr>
                <td class="col-md-2"><b>Shipping fee:</b></td>
                <td class="col-md-4"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1">
                    @{
                        var shippingFee = cart.Items.Sum(x => x.Price * x.Quantity) > 499 ? 0 : 49;
                    }<b>@shippingFee SEK</b>
                </td>
            </tr>
            <tr>
                <td class="col-md-2"><b>Total:</b></td>
                <td class="col-md-4"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1"></td>
                <td class="col-md-1">
                    @{ var total = cart.Items.Sum(x => x.Price * x.Quantity) + shippingFee;}
                    <b>@total SEK</b>
                </td>
            </tr>
        </table>
        <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Buy</a>
    </div>
    
}
