@inject PizzaButiken.Services.CartService CartService


@{
    var cart = CartService.GetCartForCurrentSession(Context.Session);
    var itemsCount = CartService.GetNumberOfItemsInCart(cart.CartId);
}

    
    @if (cart.Items.Count() > 0)
    {
        <h5>Your shopping cart contains <b>@itemsCount</b> products</h5>
        <table class="table">
            @foreach (var di in cart.Items)
            {
                <tr>
                    <td class="col-md-2">@di.Name @di.Price <b>(@di.Quantity)</b></td>
                    <td class="col-md-1"><a asp-action="CustomizeCartItem" asp-route-id="@di.DishId" title="Customize">
                        <span class="glyphicon glyphicon-adjust"></span>
                        </a>
                    </td>
                    <td class="col-md-1">
                        <button type="submit" class="remove" name="remove-@di.CartItemId">
                            <span class="glyphicon glyphicon-remove" title="Remove"></span>
                        </button>
                    </td>
                </tr>
            }
        </table>
        <h5><b>Total: @cart.Items.Sum(x => x.Price * x.Quantity) SEK</b></h5>
            <a asp-controller="Order" asp-action="OrderDetails" class="btn btn-primary">Checkout</a>
    }





